:root {
  --background: #c4dfdf;
  --div: #d2e9e9;
  --div2: #e3f4f4;
  --main: #ffffff;
}
body {
  background-color: var(--background);
}
.pizza {
  background-color: var(--main);
  width: 80%;
  margin-left: 10%;
  height: 800px;
  margin-top: 70px;
}
.logo {
  position: relative;
  left: 100px;
  top: 12px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.pizzalogo {
  height: 70px;
  width: 70px;
}
.navitem {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.register {
  background-color: var(--background);
  border: none;
  height: 40px;
  padding: 11px 27px;
  border-radius: 5px;
  transition: 0.5s;
}
.register:hover {
  transform: scale(1.2);
  background-color: #6eb4b4b6;
}
.home {
  color: #9dd8d8;
  transition: 0.5s;
}
.home:hover {
  transform: scale(1.2);
}
.main {
  height: 500px;
  width: 70%;
  margin: 0px 157px;
}
.mainContent {
  margin-top: 70px;
  width: 70%;
  display: flex;
  flex-direction: column;
  font-family: cursive;
}
.pizzaDelivery {
  font-size: xxx-large;
  font-weight: 900;
}
.Shop {
  background-color: var(--background);
  border: none;
}
.Shop:hover,
.Play:hover {
  background-color: #7fbabaaa;
}
.playButton {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  margin-bottom: 5px;
}
.Play {
  color: #9dd8d8;
  border: #9dd8d8 1px solid;
  margin-left: 10px;
}
.shop {
  width: 40%;
  margin-top: 50px;
}
.pizzaBoy {
  width: 37%;
}
.boy {
  height: 500px;
  width: 400px;
}
.main {
  display: flex;
}
.Menu {
  font-family: cursive;
  text-align: center;
}
.menu {
  height: 96px;
  width: 480px;
  color: #9dd8d8;
  margin-left: 500px;
}
.list {
  display: none;
}
.food {
  display: flex;
  justify-content: space-evenly;
  margin-top: 42px;
}
.foods {
  height: 70px;
  width: 70px;
}
.food1,
.food2,
.food3 {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 1000px) {
  .pizza {
    height: 100%;
  }
  .food {
    display: flex;
    flex-direction: column;
  }
  .list {
    display: block;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-top: 20px;
  }
  .navitem {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .mainContent {
    margin-left: 20px;
    text-align: center;
  }
  .boy {
    width: 200px;
    height: 200px;
    margin-top: 50px;
  }
  .main {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .pizzaBoy {
    margin-left: 100px;
  }
  .pizza {
    height: 100%;
    margin-right: 10px;
  }
  .food {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    display: none;
  }
}
@media screen and (max-width: 1700px) {
  .pizza {
    margin-left: 100px;
    margin-right: 100px;
  }
  .shop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    margin-left: 105px;
  }
}
